* {
  box-sizing: border-box;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.chess-game {
  background: #FAFAFA;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  h1 {
    margin-top: 0;
  }
  .btn-reset {
    margin-top: 15px;
  }
}

.chess-player {
  border-radius: 8px;
  padding: 15px 8px;
  text-align: center;
  position: relative;
  overflow: hidden;

  &:nth-child(2) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  & + .chess-player {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @media (max-width: 991px) {
    border-radius: 8px !important;
    margin: 8px 0;
  }

  h2 {
    margin-top: 0;
  }

  button {
    margin-bottom: 8px;
  }

  .clock {
    &:before {
      content: "Time Left: ";
      font-weight: bold;
    }
  }

  &:after {
    content: "";
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(#000, 0.75);
  }

  &.turn-disabled {
      h2:after {
        content: "";
      }

      &:after {
        display: block;
      }
  }
}

.game-started {
  h2:after {
    content: "'s Turn";
  }
}